
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800&family=Unbounded:wght@200;400;500;800;900&display=swap');

* {
  font-family: Poppins;
}

.transition_ease {
  transition: 500ms ease;
}

.transition_fast {
  transition: 100ms ease;
}

.blur {
  box-shadow: 0px 0 0 0 rgba(0, 0, 0, 0.5);
}

@tailwind base;
@tailwind components;
@tailwind utilities;